*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1400px;
    margin: 100%;
    margin: 0 auto;
}
.box{
    width: 100%;
    height: 100hv;
    position: relative;
}
.header__nav{
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title{
    display: flex;
    gap: 35px;
}
.link{
    list-style: none;
    
}
.header__link{
    color: #FFFFFF;
    text-decoration: none;
    color: rgb(255, 255, 255);
font-family: Arial;
font-size: 11.7px;
font-weight: 400;
line-height: 19.6px;
letter-spacing: 0%;
}
.video{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -100;
}
.video1{
    margin-top: 658px;
}
.container__img{
    margin-top: 400px;
    margin-left: 250px;
}